<ion-view title="Ustawienia">
	<ion-nav-bar class="bar-positive">
        <button class="button button-icon" menu-toggle="left">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-bar>
    <ion-content>
       <ul class="list">	
		  <li class="item item-toggle">
		     Powiadomienia
		     <label class="toggle toggle-positive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</ul>
    </ion-content>
</ion-view>
