<ion-view>
    <ion-content>
        <div class="list">
            <div class="item item-input item-stacked-label">
                <span class="input-label">Od Kiedy?</span>
                <div class="row">
                   <div class="col">
                        <input type="text" pick-a-date="task.dateFrom" pick-a-date-options="{ container: '#pickadate' }" placeholder="Data od" />
                    </div>
                    <div class="col">
                        <input type="text" pick-a-time="task.timeFrom" pick-a-time-options="{ container: '#pickadate' }" placeholder="Cały dzień" />
                    </div>
                </div>
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">Do Kiedy?</span>
                <div class="row">
                    <div class="col">
                        <input type="text" pick-a-date="task.dateTo" placeholder="Data do" pick-a-date-options="{ container: '#pickadate' }"/>
                    </div>
                    <div class="col">
                        <input type="text" pick-a-time="task.timeTo" pick-a-time-options="{ container: '#pickadate' }" placeholder="Cały dzień" />
                    </div>
                </div>
            </div>
            <label class="item item-input item-stacked-label" ng-click="changeRepetition()">
                <span class="input-label">Powtarzanie</span>
                <div class="row">
                    {{ task.repetition | repetition }}
                </div>
            </label>
        </div>

    </ion-content>

</ion-view>
