<ion-view>
    <ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7">
        <button class="button button-icon" menu-toggle="left">
            <i class="icon ion-navicon"></i>
            {{subTitle}}
        </button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <div ng-repeat="(date, tasksByDate) in tasks | groupBy: 'completedDate | date : \'yyyy-MM-dd\' '">
                <div class="item item-divider">
                    {{ date }}
                </div>

                <ion-item ng-class="{selected: task.selected}" on-hold="selectTask(task)" on-tap="editTask(task)" class="item" ng-repeat="task in tasksByDate">
                    <h2>{{task.note}}</h2>
                    <p ng-if="task.locationReminders && task.locationReminders.length > 0">
                        <div ng-repeat="locationReminder in task.locationReminders | limitTo: 2">
                            <span ng-bind-html="locationReminder | locationReminder"></span>
                        </div>
                    </p>
                </ion-item>
                <!-- <div class="item item-participants" ng-show="showDetailsTransactionId == transaction.id" ng-repeat-end>
                    <h2>Participants</h2>
                    <img ng-repeat="participant in transaction.participants" gravatar-src="'{{participant.email}}'" />
                </div> -->
            </div>
        </ion-list>



        <ion-list>

        </ion-list>

        <div class="card" ng-if="tasks.length === 0">
            <div class="item item-text-wrap">
                Nie wykonano jeszcze żadnych zadań.
            </div>
        </div>
    </ion-content>
</ion-view>
